.nav.nav-pils.nav-stacked{
	border-right: 1px solid #ccc;
}

.page-header{
	margin-top: 0;
}

.block-info{
	width: 90%;
	height: 170px;
	padding:25px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 120%;
	border-radius: 10px;
}

.block-info.bg-info {
	background: #428bca;
}

.block-info.bg-success {
	background: #4cae4c;
}

.block-info.bg-warning {
	background: #d9534f;
}

.block-info p.val{
	font-size: 39px;
}

.graph{
	margin-top: 15px;
}

.graph h1{
	padding-left: 25px;
}

/*стили для описаиня задачи*/

div.name-task p{
	margin-top: 5px;
	margin-bottom: 25px;
	border-bottom: 1px solid #ccc;
	font-size: 28px;
}

div.project_task{
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

div.perfomer, div.director{
	margin-bottom: 5px;
	margin-top: 5px;
}


